<!-- Bismillahir Rahmaanir Rahiim -->

<ion-content [fullscreen]="true" style="overflow: hidden">
  <!-- Played Section -->
  <div
    class="view_played"
    [style.backgroundImage]="'url(../../../assets/images/tm1.jpg)'"
  >
    <div
      class="blur-container pb-3"
      style="display: flex; flex-direction: column; gap: 2em"
    >
      <header
        class="p-2"
        style="
          display: flex;
          justify-content: space-between;
          place-items: center;
        "
      >
        <div>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
        </div>
        <div>
          @if (!playing) {
          <ion-text color="success">
            <span class="now_playing_txt bi bi-record-fill"
              >{{ 'Now Playing' }}</span
            >
          </ion-text>
          }
        </div>
        <div>
          <ion-buttons slot="start">
            <ion-button fill="clear" shape="round">
              <ion-icon slot="start" class="bi bi-search"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </header>

      <!-- Controls section -->
      <div class="audio_controls">
        <div class="current_time">1:20</div>
        <div class="controls">
          <ion-buttons class="buttons">
            <ion-button class="text-2xl">
              <ion-icon name="play-skip-back"></ion-icon>
            </ion-button>

            <ion-button class="text-7xl">
              <ion-icon class="bi bi-pause-circle"></ion-icon>
              <!-- <ion-icon name="pause-circle-outline"></ion-icon> -->
            </ion-button>

            <ion-button class="text-2xl">
              <!-- <ion-icon class="bi bi-play-circle"></ion-icon> -->
              <ion-icon name="play-skip-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="end_time">40:00</div>
      </div>

      <!-- Title & Author -->
      <div class="title_author" style="width: 240px; margin: 0 auto">
        <ion-text color="success" class="ion-text-center">
          <marquee behavior="smooth" direction="left">
            <span style="font-weight: 600">
              {{ "Nasaha kwa Kinamama Juu ya Ufuatiliaji Elimu ya Kisheria" }}
            </span>
          </marquee>
          <small style="font-weight: 600"
            >&nbsp;&nbsp;&nbsp;&nbsp;{{'Sheikh Abuu Ayman Al-Shiraaziy'}}</small
          >
        </ion-text>
      </div>
    </div>
  </div>

  <!-- Audio List Section -->
  <section class="audio-list">
    <div class="p-2 scrl">
      <ion-text class="ion-text-center">
        <h1>{{'All List'}}</h1>
      </ion-text>
    </div>

    <div class="scrl">
      <ion-list>
        @for(list of lists; track list) {
        <ion-item
          class="all-list-item"
          lines="none"
          detailIcon="false"
          mode="ios"
          button
        >
          <ion-icon
            class="text-4xl"
            slot="start"
            name="play-circle-outline"
          ></ion-icon>
          <div
            style="
              display: grid;
              grid-template-columns: 3fr 1fr 1fr;
              gap: 0.5em;
              place-items: center;
              justify-content: center;
              padding: 0.5em 0;
            "
          >
            <div>
              <!-- <marquee behavior="smooth" direction="left"> -->
              <div class="list_title">
                <small style="font-weight: 600">
                  {{ list.title | slice:0:18 }}...
                </small>
              </div>
              <!-- </marquee> -->
              <div class="list_category">
                <small> {{ list.category }} </small>
              </div>
            </div>
            <!-- <div> -->
            <small color="primary"> {{ list.duration }} </small>
            <!-- </div> -->
            <!-- <div> -->
            <ion-icon name="ellipsis-horizontal"></ion-icon>
            <!-- </div> -->
          </div>
        </ion-item>
        }
      </ion-list>
    </div>
  </section>

  <div></div>
</ion-content>
